h1 {
    border: 1px solid black;
    width: 96.5%;
}

.row {
    padding: 5px;
}


/* div.form-group {
    border: 1px solid black;
    /* padding: 20px; */


/* width: 100%;

} */

.card {
    border: 1px solid black;
    /* padding: 20px; */
    width: 100%;
}